.full {
  border: #000066 1px solid;
  height: 88vh;
}

.footer-2 {
  height: 3vh;
}

.site-layout-content {
  min-height: 750px;
  // padding: 0 50px;
  background: #fff;
  max-width: 100%;
}
.site-layout-footer {
  text-align: center;
}

.header {
  height: 7vh;
}

.ant-row {
  padding: 20px;
}
